body {
    background: linear-gradient(Yellow, Red) no-repeat center center fixed;
}

#Header {
    font-size: 90px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(230, 2, 2);
}
#sub {
    font-size: 25px;
    text-align: center;
}
/* light blue square that has holes in a pattern of 7 x 6 */
.board {
    align-items: center;
    border: 2px solid black;
    height: 600px;
    width: 700px;
    padding: em;
}